*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}
body{
    background-color:#222;
}
.card{
    width:100%;
    max-width:240px;
    background:linear-gradient(135deg,#00feba, #5b548a);
    color:#fff;
    margin:60px auto 0px;
    border-radius:10px;
    padding:25px 30px;
    align-items:center;
    text-align:center;
}
.search{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.search input{
    outline:0;
    border:0;
    background-color:#ebfffc;
    color:#222;
    font-weight:400;
    font-size:10px;
    border-radius:100px;
    flex:1;
    padding:11px 15px;
    height:20px;
    margin:0px 30px 0px 0px;
}
.search button{
    height:20px;
    border:0;
    outline:0;
    background:#ebfffc;
    width:22px;
    margin-left:-50px;
    margin-right:20px;
    border-radius:10px;
    cursor:pointer;
}
.search button img{
     width:10px;
     padding:4px 0px 0px  0px;
}
.weather img{
    width:90px;
    height:90px;
}
.weather{
    font-size:10px;
}

.details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:30px 0px 0px 0px;
    /* padding:0 20px; */
}
.col img{
    width:25px;
    height:29px;
    margin:0 1px;
}
.col{
    display:flex;
    align-items:center;
    text-align:left;
}
.col p{
    flex-direction:column;
}
#wind{
    margin-right:-25px;
}

#kilo{
    margin-right:-44px;
    font-size:16px;
    margin-left:4px;
    margin-top:-10px;
}
#fifty{
    margin-top:-17px;
    margin-left:10px;
    font-size:16px;
}
.hum{
    margin-left: -30px;
}
.weather{
    display:none;
}
.error{
    text-align:left;
    font-size:11px;
    margin-top:10px;
    margin-left:2px;
    display:none;
}
.refresh{
    display:flex;
    text-align:center;
    font-size:10px;
    /* border:2px solid rebeccapurple; */
}

span img{
    width:20px;
    padding:auto;
}
.search span{
    height:20px;
    border:0;
    outline:0;
    background:#ebfffc;
    width:22px;
    border-radius:10px;
    cursor:pointer;
}
.refresh{
    width:270px;
    padding:5px 10px;
    position:relative;
    position:absolute;
    top:80px;
    left:15px;
    border-radius:10px;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:#000;
    /* background:linear-gradient(135deg,#5b548a,#414141); */
}
span{
    /* border:1px solid rebeccapurple; */
    background-color:#fff;
    height:20px;
    padding:auto 2px;
    border-radius:100px;
    position:relative;
    /* margin:100px 90px 0px 0px; */
}
.but{
    margin-left:-70px;
}
